<app-navbar></app-navbar>
<div class="container col-lg-2" id="cuadro3">
    <div class="form-group text-center">
        <div class="form-group text-center">
            <p style="color:white">
                <strong><i class="fas fa-file-upload"></i> LOAD PRODUCTS</strong>
            </p>
            <img src="assets/producto.png" height="120" width="120" />
        </div>
        <input type="file" class="form-control"
        (change)="onChange($event)" accept=".csv" />

        <br>
        <br>
        <div class="col text-center">
            <button class="btn btn-primary btn-block" (click)="onUpload()">LOAD FILE</button>
        </div>
        <div class="container">
            <h4 *ngFor="let dato of resultados; let i=index; let ultimo=last" style="color: white">
                <div class="alert alert-success" role="alert" *ngIf="ultimo">
                    file uploaded successfully
                  </div>
                  <div class="alert alert-success" role="alert" *ngIf="dato==500">
                    Error del servidor, comuniquese con el administrador
                  </div>
                  <div class="alert alert-success" role="alert" *ngIf="dato==400 || dato==404">
                    Error  en la solicitud
                  </div>
                
            </h4>
        </div>
    </div>
</div>
<br>
<br>
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    <div class=" card">
      <div class=" card-header">
        <h4 class=" card-title"><i class="fas fa-table"></i> List of Products</h4>
      </div>
      <div class=" card-body">
        <div class="container mt-5">
          <table class="table table-bordered table-striped table-hover compact nowrap stripe hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <tbody>
              <tr *ngFor="let producto of contenido" class="">
                <td class="text-center">{{producto.code}}</td>
                <td class="text-center">{{producto.name}}</td>
                <td class="text-center">{{producto.nitprovider}}</td>
                <td class="text-center">{{producto.purchaseprice}}</td>
                <td class="text-center">{{producto.iva}}</td>
                <td class="text-center">{{producto.saleprice}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
