<nav class="menu">
  <ul>
    <!-- <li><a href="#">Usuarios</a>
      <ul class="submenu">
        <li><a href="#">Consultar</a></li>
        <li><a href="#">Crear</a></li>
        <li><a href="#">Actualizar</a></li>
        <li><a href="#">Eliminar</a></li>
      </ul></li> -->
    <li><a href="#">Clients</a>
      <ul class="submenu">
        <li><a href="#">Read</a></li>
        <li><a href="#">Create</a></li>
        <li><a href="#">Update</a></li>
        <li><a href="#">Delete</a></li>
      </ul></li>
    <li><a href="#">Providers</a>
      <ul class="submenu">
        <li><a href="#">Read</a></li>
        <li><a href="#">Create</a></li>
        <li><a href="#">Update</a></li>
        <li><a href="#">Delete</a></li>
      </ul></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Ventas</a></li>
    <li><a href="#">Reports</a>
      <ul class="submenu">
        <li><a href="#">Lista de Usuarios</a></li>
        <li><a href="#">Lista de Clientes</a></li>
        <li><a href="#">Venta por Cliente</a></li>
      </ul></li>

  </ul>
  
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #252850">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sucursal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Clients</a>
            <ul class="submenu">
							<li><a href="">Read</a></li>
							<li><a href="">Create</a></li>
							<li><a href="">Update</a></li>
							<li><a href="">Delete</a></li>
						</ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
