<app-navbar></app-navbar>
<div class="container col-lg-2">
    <div class="form-group text-center">
            <div class="form-group text-center">
                <p style="color:white">
                    <strong>CREATE CLIENT</strong>
                </p>
                <img src="assets/usuario.png" height="80" width="80" />
            </div>
            <br>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Identification" [(ngModel)]="cedulainsert">
                <span class="input-group-text">
                    <i *ngIf="cedulainsert!=undefined && cedulainsert!=''"
                        class="fas fa-check correctovalidacion"></i>

                    <i *ngIf="cedulainsert==undefined || cedulainsert==''"
                        class="fas fa-times errorvalidacion"></i>
                </span>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Address" [(ngModel)]="direccioninsert">
                <span class="input-group-text">

                    <i *ngIf="direccioninsert!=undefined && direccioninsert!=''"
                        class="fas fa-check correctovalidacion"></i>

                    <i *ngIf="direccioninsert==undefined || direccioninsert==''"
                        class="fas fa-times errorvalidacion"></i>

                </span>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="E-mail" [(ngModel)]="emailinsert">
                <span class="input-group-text">

                    <i *ngIf="emailinsert!=undefined && emailinsert!=''"
                        class="fas fa-check correctovalidacion"></i>

                    <i *ngIf="emailinsert==undefined || emailinsert==''"
                        class="fas fa-times errorvalidacion"></i>

                </span>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="nombreinsert">
                <span class="input-group-text">

                    <i *ngIf="nombreinsert!=undefined && nombreinsert!=''"
                        class="fas fa-check correctovalidacion"></i>

                    <i *ngIf="nombreinsert==undefined || nombreinsert==''"
                        class="fas fa-times errorvalidacion"></i>

                </span>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="telefonoinsert">
                <span class="input-group-text">

                    <i *ngIf="telefonoinsert!=undefined && telefonoinsert!=''"
                        class="fas fa-check correctovalidacion"></i>

                    <i *ngIf="telefonoinsert==undefined || telefonoinsert==''"
                        class="fas fa-times errorvalidacion"></i>

                </span>
            </div>
            <br>
            <button (click)="insertarCliente()" class="btn btn-primary btn-md" type="submit"
            name="btnActualizar">CREATE</button>
            <br/>
            <div *ngIf="codepost==201" style="color: white">create successfully</div>
            <div *ngIf="codepost==226" style="color: white">client exists</div>
            <div *ngIf="codepost==500" style="color: red">client exists</div>
    </div>
</div>
